@import "tailwindcss";

:root {
  --background: #faf4ed;
  --background-2: #fffaf3;
  --background-3: #f2e9e1;
  --foreground: #464261;
  --text-rpd: #e0def4;
  --foreground-invert: #e0def4;
  --muted: #6e6a86;
  --primary: #3884a2;
}

@theme inline {
  --color-background: var(--background);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);
  --color-foreground: var(--foreground);
  --color-text-rpd: var(--text-rpd);
  --color-foreground-invert: var(--foreground-invert);
  --color-muted: var(--muted);
  --color-primary: var(--primary);
  --font-sans: var(--font-go-mono);
  --font-mono: var(--font-go-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191724;
    --background-2: #1f1d2e;
    --background-3: #26233a;
    --foreground: #e0def4;
    --foreground-invert: #464261;
    --muted: #9893a5;
    --primary: #31748f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-go-mono);
}
